@using Travel.Models;
@model List<ChuongTrinhTours>


<div class="sectionTitle">
    <div class="content-title">
        <span class="title"> ĐIỂM ĐẾN ĐANG HOT </span>
        <i class="icon-hot"></i>
    </div>
</div>

@foreach (var t in Model)
{
    <div class="col-sm-4 text-center mt-27">
        <div class="high-slider-img-card">
            <a href="@Url.Action("ChiTietTour","Home", new { ma = @t.Matour})" title="xem chi tiết tour">
                <img src="~/Content/image/@t.Hinhanh" alt="" class="img">
            </a>
        </div>
        <div class="box-infor-tour">

            <div class="name-tour-detail">
                <a href="#">
                    @t.Tentour
                </a>
            </div>
            <!-- Dat session kiem tra dang nhap o day -->
            @if (Session["KH"] != null)
            {
                <a href="@Url.Action("ThemTourDat", "TourDaDat",  new { maTour = @t.Matour})" class="btn btn-buy-tour btn-orange" data-toggle="modal">
                    Đặt Tour
                </a>
            }
            else
            {
                <a id="btnBuy" class="btn btn-buy-tour btn-orange" data-toggle="modal" data-target="#Modal_Buy">
                    Đặt Tour
                </a>
            }
        </div>

        <div class="box-tour-price">
            <p class="text"> Giá từ </p>
            <p class="price"> @t.Gianguoilon </p>
            @* <p class="info"> 3 ngày 2 đêm </p>*@
        </div>
        <div class="promotion-tour">
            <div class="text-promotion-tour" title="Tour Tết">@t.Tenloai</div>
        </div>
    </div>
}