@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_slidebanner")
<!-- Search -->
@*<section class="search-wrapper-kiritm">
        <div class="content">
            <form id="searchFormKiritm" method="get" role="form" action="#">
                <div class="search-body-kiritm">
                    <div class="row ">
                        <div class="col-sm-offset-2 col-sm-8 col-xs-12 serch-box-kiritm">
                            <div class="serch-box-kiritm-content" id="searchboxkiritm">
                                <input onkeyup="return showResult(event, this.value)"
                                       onkeypress="return checkSubmitSearch(event)"
                                       type="text" name="search"
                                       class="input-search-kiritm"
                                       id="inputSearchHomepage"
                                       autocomplete="off"
                                       placeholder="Tìm kiếm..."
                                       aria-describedby="basic-addon2">
                                <i class="fa fa-search fa-kiritm" id="basic-addon2"
                                   onclick="javascript:$(this).parents('form').submit()"></i>
                            </div>
                            <div id="showSuggestion" class="suggestions hidden-cls">
                                <ul id="suggestionSearchHomePage" class="ul-suggestion">
                                </ul>
                            </div>
                            <div class="advance-search-kiritm hidden-cls" id="advanceSearchKiritm">
                                <div class="arrow-advance"></div>
                                <div class="col-xs-6">
                                    <div id="fromDateSearchBox" class="input-group date filterDate ed-datepicker">
                                        <input type="text" class="form-control " name="from"
                                               autocomplete="off"
                                               placeholder="Từ ngày (DD/MM/YYYY)"
                                               value="">
                                        <div class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div id="toDateSearchBox" class="input-group date ed-datepicker filterDate">
                                        <input type="text" class="form-control" name="to"
                                               autocomplete="off"
                                               placeholder="Đến ngày (DD/MM/YYYY)" value="">
                                        <div class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mark-close hidden-cls" id="markclose"></div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </section>*@
<!--search end -->
<!-- Tour introduce -->
<section class="highlights no-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title text-uppercase white text-bold"> Giới thiệu Tour </h4>
            </div>
        </div>
        <div class="high-slider">
            <div class="item">
                <div class="row">
                    <div class="col-sm-4 text-center mt-40">
                        <div class="high-slider-img">
                            <a href="@Url.Action("ChiTiet_Tour")">
                                <img src="~/Content/image/phuquoc.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="box-infor-tour">
                            <div class="top-details">
                                <a class="tour-tag" href="#">
                                    <span class="tag-detail overflow-ellipsis" title="Tour miền Tây">Tour miền Tây</span>
                                    <span class="number-detail">có 12 tour</span>
                                </a>
                            </div>
                            <div class="name-tour-detail">
                                <a href="#">
                                    Du lịch Tết Tân Sửu 2021 Phú Quốc [Mùng 2, 3, 4 Tết] khởi hành từ Cần Thơ
                                </a>
                            </div>
                            <div class="btn-buy-tour">
                                <button class="btn btn-orange"> Đặt tour </button>
                            </div>
                        </div>
                        <div class="box-tour-price">
                            <p class="text"> Giá từ </p>
                            <p class="price"> 8.629.000 </p>
                            <p class="info"> 3 ngày 2 đêm </p>
                        </div>
                        <div class="promotion-tour">
                            <div class="text-promotion-tour" title="Tour Tết">Tour Tết</div>
                        </div>
                    </div>

                    <div class="col-sm-4 text-center mt-40">
                        <div class="high-slider-img">
                            <a href="@Url.Action("ChiTiet_Tour")">
                                <img src="~/Content/image/vuontraicay.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="box-infor-tour">
                            <div class="top-details">
                                <a class="tour-tag" href="#">
                                    <span class="tag-detail overflow-ellipsis" title="Tour miền Tây">Tour miền Tây</span>
                                    <span class="number-detail">có 12 tour</span>
                                </a>
                            </div>
                            <div class="name-tour-detail">
                                <a href="#">
                                    Du lịch Tết Tân Sửu 2021 Phú Quốc [Mùng 2, 3, 4 Tết] khởi hành từ Cần Thơ
                                </a>
                            </div>
                            <div class="btn-buy-tour">
                                <button class="btn btn-orange"> Đặt tour </button>
                            </div>
                        </div>
                        <div class="box-tour-price">
                            <p class="text"> Giá từ </p>
                            <p class="price"> 8.629.000 </p>
                            <p class="info"> 3 ngày 2 đêm </p>
                        </div>
                        <div class="promotion-tour">
                            <div class="text-promotion-tour" title="Tour Tết">Tour Tết</div>
                        </div>
                    </div>

                    <div class="col-sm-4 text-center mt-40">
                        <div class="high-slider-img">
                            <a href="@Url.Action("ChiTiet_Tour")">
                                <img src="~/Content/image/phanthiet.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="box-infor-tour">
                            <div class="top-details">
                                <a class="tour-tag" href="#">
                                    <span class="tag-detail overflow-ellipsis" title="Tour miền Tây">Tour miền Tây</span>
                                    <span class="number-detail">có 12 tour</span>
                                </a>
                            </div>
                            <div class="name-tour-detail">
                                <a href="#">
                                    Du lịch Tết Tân Sửu 2021 Phú Quốc [Mùng 2, 3, 4 Tết] khởi hành từ Cần Thơ
                                </a>
                            </div>
                            <div class="btn-buy-tour">
                                <button class="btn btn-orange"> Đặt tour </button>
                            </div>
                        </div>
                        <div class="box-tour-price">
                            <p class="text"> Giá từ </p>
                            <p class="price"> 8.629.000 </p>
                            <p class="info"> 3 ngày 2 đêm </p>
                        </div>
                        <div class="promotion-tour">
                            <div class="text-promotion-tour" title="Tour Tết">Tour Tết</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-sm-4 text-center mt-40">
                        <div class="high-slider-img">
                            <a href="@Url.Action("ChiTiet_Tour")">
                                <img src="~/Content/image/condao.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="box-infor-tour">
                            <div class="top-details">
                                <a class="tour-tag" href="#">
                                    <span class="tag-detail overflow-ellipsis" title="Tour miền Tây">Tour miền Tây</span>
                                    <span class="number-detail">có 12 tour</span>
                                </a>
                            </div>
                            <div class="name-tour-detail">
                                <a href="#">
                                    Du lịch Tết Tân Sửu 2021 Phú Quốc [Mùng 2, 3, 4 Tết] khởi hành từ Cần Thơ
                                </a>
                            </div>
                            <div class="btn-buy-tour">
                                <button class="btn btn-orange"> Đặt tour </button>
                            </div>
                        </div>
                        <div class="box-tour-price">
                            <p class="text"> Giá từ </p>
                            <p class="price"> 8.629.000 </p>
                            <p class="info"> 3 ngày 2 đêm </p>
                        </div>
                        <div class="promotion-tour">
                            <div class="text-promotion-tour" title="Tour Tết">Tour Tết</div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center mt-40">
                        <div class="high-slider-img">
                            <a href="@Url.Action("ChiTiet_Tour")">
                                <img src="~/Content/image/phanrang.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="box-infor-tour">
                            <div class="top-details">
                                <a class="tour-tag" href="#">
                                    <span class="tag-detail overflow-ellipsis" title="Tour miền Tây">Tour miền Tây</span>
                                    <span class="number-detail">có 12 tour</span>
                                </a>
                            </div>
                            <div class="name-tour-detail">
                                <a href="#">
                                    Du lịch Tết Tân Sửu 2021 Phú Quốc [Mùng 2, 3, 4 Tết] khởi hành từ Cần Thơ
                                </a>
                            </div>
                            <div class="btn-buy-tour">
                                <button class="btn btn-orange"> Đặt tour </button>
                            </div>
                        </div>
                        <div class="box-tour-price">
                            <p class="text"> Giá từ </p>
                            <p class="price"> 8.629.000 </p>
                            <p class="info"> 3 ngày 2 đêm </p>
                        </div>
                        <div class="promotion-tour">
                            <div class="text-promotion-tour" title="Tour Tết">Tour Tết</div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center mt-40">
                        <div class="high-slider-img">
                            <a href="@Url.Action("ChiTiet_Tour", "Home")">
                                <img src="~/Content/image/mientay.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="box-infor-tour">
                            <div class="top-details">
                                <a class="tour-tag" href="#">
                                    <span class="tag-detail overflow-ellipsis" title="Tour miền Tây">Tour miền Tây</span>
                                    <span class="number-detail">có 12 tour</span>
                                </a>
                            </div>
                            <div class="name-tour-detail">
                                <a href="#">
                                    Du lịch Tết Tân Sửu 2021 Phú Quốc [Mùng 2, 3, 4 Tết] khởi hành từ Cần Thơ
                                </a>
                            </div>
                            <div class="btn-buy-tour">
                                <button class="btn btn-orange"> Đặt tour </button>
                            </div>
                        </div>
                        <div class="box-tour-price">
                            <p class="text"> Giá từ </p>
                            <p class="price"> 8.629.000 </p>
                            <p class="info"> 3 ngày 2 đêm </p>
                        </div>
                        <div class="promotion-tour">
                            <div class="text-promotion-tour" title="Tour Tết">Tour Tết</div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="item">
                    <div class="row">
                        <div class="col-sm-4 text-center mt-40">
                            <div class="high-slider-img">
                                <a href="@Url.Action("ChiTiet_Tour")">
                                    <img src="~/Content/image/adwards.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="box-infor-tour">
                                <div class="top-details">
                                    <a class="tour-tag" href="#">
                                        <span class="tag-detail overflow-ellipsis" title="Tour miền Tây">Tour miền Tây</span>
                                        <span class="number-detail">có 12 tour</span>
                                    </a>
                                </div>
                                <div class="name-tour-detail">
                                    <a href="#">
                                        Du lịch Tết Tân Sửu 2021 Phú Quốc [Mùng 2, 3, 4 Tết] khởi hành từ Cần Thơ
                                    </a>
                                </div>
                                <div class="btn-buy-tour">
                                    <button class="btn btn-orange"> Đặt tour </button>
                                </div>
                            </div>
                            <div class="box-tour-price">
                                <p class="text"> Giá từ </p>
                                <p class="price"> 8.629.000 </p>
                                <p class="info"> 3 ngày 2 đêm </p>
                            </div>
                            <div class="promotion-tour">
                                <div class="text-promotion-tour" title="Tour Tết">Tour Tết</div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center mt-40">
                            <div class="high-slider-img">
                                <a href="@Url.Action("ChiTiet_Tour")">
                                    <img src="~/Content/image/adwards.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="box-infor-tour">
                                <div class="top-details">
                                    <a class="tour-tag" href="#">
                                        <span class="tag-detail overflow-ellipsis" title="Tour miền Tây">Tour miền Tây</span>
                                        <span class="number-detail">có 12 tour</span>
                                    </a>
                                </div>
                                <div class="name-tour-detail">
                                    <a href="#">
                                        Du lịch Tết Tân Sửu 2021 Phú Quốc [Mùng 2, 3, 4 Tết] khởi hành từ Cần Thơ
                                    </a>
                                </div>
                                <div class="btn-buy-tour">
                                    <button class="btn btn-orange"> Đặt tour </button>
                                </div>
                            </div>
                            <div class="box-tour-price">
                                <p class="text"> Giá từ </p>
                                <p class="price"> 8.629.000 </p>
                                <p class="info"> 3 ngày 2 đêm </p>
                            </div>
                            <div class="promotion-tour">
                                <div class="text-promotion-tour" title="Tour Tết">Tour Tết</div>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center mt-40">
                            <div class="high-slider-img">
                                <a href="@Url.Action("ChiTiet_Tour")">
                                    <img src="~/Content/image/adwards.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="box-infor-tour">
                                <div class="top-details">
                                    <a class="tour-tag" href="#">
                                        <span class="tag-detail overflow-ellipsis" title="Tour miền Tây">Tour miền Tây</span>
                                        <span class="number-detail">có 12 tour</span>
                                    </a>
                                </div>
                                <div class="name-tour-detail">
                                    <a href="#">
                                        Du lịch Tết Tân Sửu 2021 Phú Quốc [Mùng 2, 3, 4 Tết] khởi hành từ Cần Thơ
                                    </a>
                                </div>
                                <div class="btn-buy-tour">
                                    <button class="btn btn-orange"> Đặt tour </button>
                                </div>
                            </div>
                            <div class="box-tour-price">
                                <p class="text"> Giá từ </p>
                                <p class="price"> 8.629.000 </p>
                                <p class="info"> 3 ngày 2 đêm </p>
                            </div>
                            <div class="promotion-tour">
                                <div class="text-promotion-tour" title="Tour Tết">Tour Tết</div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>


<!--<section class="products-main">
    <div class="container">
        <div class="row">
            <div class="row mb-10" style="background-color: black;">
                <div class="col-md-12">
                    <h4 class="title text-uppercase white text-bold"> tour hay </h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-20">
                <div class="product-p-img">
                    <img class="img-responsive" src="~/Content/image/ho-hoan-kiem.jpg" alt="">
                    <div class="product-p-content product-p-content-small text-center white-bg">
                        <a href="#" class="btn btn-violet-t text-uppercase"> ĐẶT TOUR </a>
                        <h5 class="title text-uppercase d-black text-bold"> TÊN </h5>
                        <p class="mt-20 mb-20"> MÔ TẢ </p>
                        <span class="add v-light-gray text-uppercase">
                            GIÁ
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-20">
                <div class="product-p-img">
                    <img class="img-responsive" src="~/Content/image/ho-hoan-kiem.jpg" alt="">
                    <div class="product-p-content product-p-content-small text-center white-bg">
                        <a href="#" class="btn btn-pink text-uppercase"> ĐẶT TOUR </a>
                        <h5 class="title text-uppercase d-black text-bold"> TÊN </h5>
                        <p class="mt-20 mb-20"> MÔ TẢ </p>
                        <span class="add v-light-gray text-uppercase">
                            GIÁ
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-20">
                <div class="product-p-img">
                    <img class="img-responsive" src="~/Content/image/ho-hoan-kiem.jpg" alt="">
                    <div class="product-p-content product-p-content-small text-center white-bg">
                        <a href="#" class="btn btn-green text-uppercase"> ĐẶT TOUR </a>
                        <h5 class="title text-uppercase d-black text-bold"> TÊN </h5>
                        <p class="mt-20 mb-20"> MÔ TẢ </p>
                        <span class="add v-light-gray text-uppercase">
                            GIÁ
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-10" style="background-color: black;">
            <div class="col-md-12">
                <h4 class="title text-uppercase white text-bold"> Tour hot </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="product-p-img">
                    <img class="img-responsive" src="~/Content/image/ho-hoan-kiem.jpg" alt="">
                    <div class="product-p-content text-center white-bg">
                        <a href="#" class="btn btn-orange-t text-uppercase"> ĐẶt TOUR </a>
                        <h5 class="title text-uppercase d-black text-bold mt-10"> TÊN TOUR </h5>
                        <p class="mt-20 mb-20"> Mô tả về tour </p>
                        <span class="add v-light-gray text-uppercase">
                            Giá Tour
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product-p-img">
                    <img class="img-responsive" src="~/Content/image/ho-hoan-kiem.jpg" alt="">
                    <div class="product-p-content text-center white-bg">
                        <a href="#" class="btn btn-pink text-uppercase"> ĐẶT TOUR </a>
                        <h5 class="title text-uppercase d-black text-bold mt-10"> TÊN </h5>
                        <p class="mt-20 mb-20"> MÔ TẢ </p>
                        <span class="add v-light-gray text-uppercase">
                            GIÁ
                        </span>
                    </div>
                </div>
            </div>
        </div>-->
@*<div class="row">
        <div class="col-md-4 col-sm-6 mt-20">
            <div class="product-p-img">
                <img class="img-responsive" src="~/Content/image/ho-hoan-kiem.jpg" alt="">
                <div class="product-p-content product-p-content-small text-center white-bg">
                    <a href="#" class="btn btn-green text-uppercase"> ĐẶT TOUR </a>
                    <h5 class="title text-uppercase d-black text-bold"> TÊN </h5>
                    <p class="mt-20 mb-20"> MÔ TẢ </p>
                    <span class="add v-light-gray text-uppercase">
                        GIÁ
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mt-20">
            <div class="product-p-img">
                <img class="img-responsive" src="~/Content/image/ho-hoan-kiem.jpg" alt="">
                <div class="product-p-content product-p-content-small text-center white-bg">
                    <a href="#" class="btn btn-orange-t text-uppercase"> ĐẶT TOUR </a>
                    <h5 class="title text-uppercase d-black text-bold"> TÊN </h5>
                    <p class="mt-20 mb-20"> MÔ TẢ </p>
                    <span class="add v-light-gray text-uppercase">
                        GIÁ
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 mt-20">
            <div class="product-p-img">
                <img class="img-responsive" src="~/Content/image/ho-hoan-kiem.jpg" alt="">
                <div class="product-p-content product-p-content-small text-center white-bg">
                    <a href="#" class="btn btn-violet-t text-uppercase"> ĐẶT TOUR </a>
                    <h5 class="title text-uppercase d-black text-bold"> TÊN </h5>
                    <p class="mt-20 mb-20"> MÔ TẢ </p>
                    <span class="add v-light-gray text-uppercase">
                        GIÁ
                    </span>
                </div>
            </div>
        </div>
    </div>*@
<!--</div>
</section>-->
<!-- home-banner -->

<section class="home-banner" style="margin-top: 30px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12" style="margin-bottom: 18px">
                <div class="box-shadow adbanner-image image-box-relative image-box-16x9">
                    <a href="#">
                        <img class="img-responsive" src="~/Content/image/image.jpg" style="height: 100% !important">
                        <div class="overlay"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
