@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Travel.Models;
@model List<ChuongTrinhTours>

@Html.Partial("_slidebanner")

<!-- Tour introduce -->
<section class="products-main">
    <div class="container">
        <div class="sectionTitle">
            <div class="col-md-12 content-title">
                <span class="title"> CÁC ĐỊA ĐIỂM DU LỊCH </span>
            </div>
        </div>

        <div class="row">
            @foreach (var t in Model)
            {
                <div class="col-sm-4 text-center mt-40">
                    <div class="high-slider-img-card">
                        <a href="@Url.Action("ChiTietTour","Home", new { ma = @t.Matour})" title="xem chi tiết tour">
                            <img src="~/Content/image/@t.Hinhanh" alt="" class="img">
                        </a>
                    </div>
                    <div class="box-infor-tour">

                        <div class="name-tour-detail">
                            <a href="#">
                                @t.Tentour
                            </a>
                        </div>
                        <!-- Dat session kiem tra dang nhap o day -->
                        @if (Session["KH"] != null)
                        {
                            <a href="@Url.Action("ThemTourDat", "TourDaDat",  new { maTour = @t.Matour})" class="btn btn-buy-tour btn-orange" data-toggle="modal">
                                Đặt Tour
                            </a>

                        }
                        else
                        {
                            <a id="btnBuy" class="btn btn-buy-tour btn-orange" data-toggle="modal" data-target="#Modal_Buy">
                                Đặt Tour
                            </a>
                        }
                    </div>

                    <div class="box-tour-price">
                        <p class="text"> Giá từ </p>
                        <p class="price"> @t.Gianguoilon </p>
                        @* <p class="info"> 3 ngày 2 đêm </p>*@
                    </div>
                    <div class="promotion-tour">
                        <div class="text-promotion-tour" title="Tour Tết">@t.Tenloai</div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- home-banner -- tin tức tour -->
<section class="home-banner" style="margin-top: 30px">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12" style="margin-bottom: 18px">
                <div class="box-shadow adbanner-image image-box-relative image-box-16x9">
                    <a href="#">
                        <img class="img-responsive" src="~/Content/image/image.jpg" style="height: 100% !important">
                        <div class="overlay"></div>
                    </a>
                </div>
            </div>
            @Html.Action("HotTour")
        </div>
    </div>
</section>

@****************************** Thông báo Y/C đăng nhập *********************************@
<!-- Modal -->
<div class="modal fade" id="Modal_Buy" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> THÔNG BÁO! </h4>
            </div>
            <div class="modal-body">
                <p> Đăng nhập để tiếp tục? </p>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("DangNhap", "Account")" class="btn b-btn-primary"> Đồng ý </a>
                <a class="btn b-btn-default" data-dismiss="modal"> Hủy </a>
            </div>
        </div>
    </div>
</div>


@************************************************************************@
