
@{
    ViewBag.Title = "HTTourDat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Travel.Models;
@model List<TourDat>

<section class="pageTitle" style="background-image:url(../../Content/image/bg_tour.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="titleTable">
                    <div class="titleTableInner">
                        <div class="pageTitleInfo">
                            <h1> THÔNG TIN ĐẶT TOUR CỦA BẠN! </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mainContentSection booking-container" style="padding: 100px; text-align: center">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-md-1"> Mã tour </th>
                <th scope="col" class="col-md-4"> Tên Tour </th>
                <th scope="col" class="col-md-1"> Số chỗ người lớn </th>
                <th scope="col" class="col-md-1"> Số chỗ trẻ em </th>
                <th scope="col" class="col-md-2"> Giá người lớn </th>
                <th scope="col" class="col-md-2"> Giá người trẻ em </th>
                <th scope="col" class="col-md-1"> Xóa </th>
            </tr>
        </thead>

        @foreach (var tourdat in Model)
        {
            <tbody>
                <tr>
                    <td class="col-md-1 pd-16px"><a href="@Url.Action("ChiTietTour","Home", new { Ma = @tourdat.MaTour })" title="Xem chi tiết tour"> @tourdat.MaTour </a></td>
                    <td class="col-md-4"><label class="name-tour"> @tourdat.TenTour </label></td>
                    <td class="col-md-1">
                        <form action="@Url.Action("UpdateSoTourDat",new {Ma = @tourdat.MaTour })" method="post">
                            <input class="soluong" type="text" name="Txt_SLNL" value="@tourdat.Sochonguoilon" />
                        </form>
                    </td>
                    <td class="col-md-1">
                        <form action="@Url.Action("UpdateSoTourDat",new {Ma = @tourdat.MaTour })" method="post">
                            <input disabled class="soluong" type="text" name="Txt_SLTE" value="@tourdat.Sochotreem" />
                        </form>
                    </td>
                    <td class="col-md-2 pd-16px">
                        <label> @tourdat.GiaNguoiLon </label>
                    </td>
                    <td class="col-md-2 pd-16px">
                        <label> @tourdat.GiaTreEm </label>
                    </td>
                    <td class="col-md-1 pd-16px">
                        <a href="@Url.Action("DeleteTourDat", new  { Ma = @tourdat.MaTour })" class="del btn btn-buy-tour  b-btn-primary" title="Xóa tour"> xóa </a>
                    </td>
                </tr>
            </tbody>
        }
    </table>


    <div class="row mt-3">
        <div class="col-md-2" style="float: left"><label> Tổng số tour: </label> @ViewBag.SoluongTong</div>
        <div class="col-md-2" style="float: right"><label> Thành Tiền: </label> @ViewBag.TongTien </div>
    </div>

    <div class="row">
        <a class="btn btn-buy-tour btn-orange" href="@Url.Action("XL_DatTour")" onclick="myFunction()"> Thanh toán </a>
    </div>

    <div class="row comeback" onclick="click_back()"><a href="@Url.Action("Index","Home")"><i class="fa" style="padding-top: 2px"> &#xf100;</i> Trở về! </a> </div>
</section>
<!---------------------------- thông báo thành công ---------------------------------->
<script>
    function myFunction() {
        alert("Thanh toán thành công!", 5000);

    }

    function click_back() {
        Session["TourDat"] = null;
    }
</script>
