
@{
    ViewBag.Title = "TourDat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Travel.Models
@model List<TourDat>

<h2> Số Tour đã đặt của bạn </h2>

<div class="container text-dark" style="margin-top:20px;background-color:whitesmoke">
    <table>
        <tr>
            <td><a class="col-md-2"> Mã Tour </a></td>
            <td><a class="col-md-2"> Tên Tour </a></td>
            <td><a class="col-md-2"> Số lượng </a></td>
            <td><a class="col-md-2"> Thành Tiền </a></td>
            <td><a class="col-md-2"> Xóa </a></td>
        </tr>
        @foreach (var i in Model)
        {
            <tr>
                <td><a class="col-md-2" href="@Url.Action("ChiTietTour","Home", new { Ma = @i.MaTour })"> @i.MaTour </a></td>
                <td><a class="col-md-2">@i.TenTour</a></td>
                <td>
                    <form action="@Url.Action("UpdateSoTourDat",new {Ma = @i.MaTour })" method="post">
                        <a class="col-md-2"><input type="text" name="Txt_SL" value="@i.SL" /></a>
                    </form>
                </td>
                <td><a class="col-md-2"> @i.GiaTour </a></td>
                <td><a class="col-md-2" href="@Url.Action("DeleteSoTourDat", new  { Ma = @i.MaTour })">Xóa</a></td>
            </tr>
            <tr>
                <td colspan="3"> <a class="col-md-2" style="font-weight:bold">Tổng SP:</a> @ViewBag.SoluongTong</td>
                <td colspan="2"><a class="col-md-2" style="font-weight:bold">Thành Tiền:</a> @ViewBag.TongTien</td>
            </tr>
            <tr>
                <td class="col-md-2" colspan="4"></td>
                @*        <td class="col-md-2" colspan="4"><a class="btn btn-success" href="@Url.Action("UpdateGioHang")" >Câp nhật giỏ hàng</a></td>*@
                <td class="col-md-2" colspan="5"><a class="btn btn-success" href="@Url.Action("XLTT")">Thanh Toán</a></td>
            </tr>
        }

    </table>

</div>