@using Travel.Models;
@model ChuongTrinhTours

<div class="list-tour-detail">
    <div class="row ">
        <div class="col-md-12 col-xs-12 tour-detail-title-information tour-detail-header-col">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    Khởi hành
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                    Mã Tour
                </div>
                <div class="col-sm-2 col-xs-12">
                    Giá người lớn
                </div>
                <div class="col-sm-2 col-xs-12">
                    Giá trẻ em
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 tour-detail-content-col">
            <div class="list-inline">
                <div class="row">
                    <div class=" col-xs-12">
                        <h5>Thông tin tour chi tiết </h5>
                    </div>
                    @foreach (var t in Model)
                    {
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label>Ngày khởi hành</label>
                            <strong> @t.Ngaykhoihanh </strong>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <label> Mã Tour</label>
                            <strong style="margin-left: -30px;"> @t.Matour </strong>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12 price">
                            <label>Giá Người lớn </label>
                            <strong> @t.Gianguoilon</strong>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12 price">
                            <label>Giá trẻ em</label>
                            <strong> @t.Giatreem </strong>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12 packageInfo">
                            <label>Đặt tour</label>
                            <div class="action-book">
                                <a href="@Url.Action("ThemTourDat", "TourDaDat",  new { maTour = @t.Matour})" class="btn btn-buy-tour btn-orange" data-toggle="modal">
                                    Đặt Tour
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
